html(ng-app="bgroups")
  head
    title!= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    .container(ng-controller="MainCtrl")
      h1 Yo
      p
        | {{message}}

    script(src="/public/app.js")
      