html(ng-app="bgroups")
  head
    title bGroups
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    style.
      ul {list-style-type: none;}
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
  body
    .container(ng-controller="MainCtrl")
      h1 Groups of Things
      
      .col-md-4
        form
          .form-group
            label Names
            textarea.form-control(
              ng-model="model.names" 
              rows="25" 
              cols="40" 
              placeholder="Paste one per line"
              autofocus
            )

          .form-group
            label Number of Groups
            input.form-control(type="number" ng-model="model.numGroups")

          button.btn.btn-default(ng-click="makeGroup()")
            | Group 'em!

      .col-md-6.col-md-offset-2(ng-cloak)
        ul(ng-show="model.groups" ng-repeat="group in model.groups")
          li
            h3 Group {{ indexChar($index) }}
            ol
              li(ng-repeat="person in group").
                {{person}}

    script(src="/public/app.js")
